.container{
    background-color: rgba(69, 29, 85,0.9);
    height: 500px;
    width: 800px;
    border-radius: 20px;
    padding: 30px;
    color: rgb(252, 240, 73);
}

Button{
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
    background-color: rgba(41, 24, 24, 0.9);
    color: rgb(252, 240, 73);
    width:100px;
    height: 30px;
    border-radius: 10px;
    transition: 0.3s linear;
}

Button:hover{
    background-color: rgb(252, 240, 73);
    color: rgb(0, 0, 0);
}

.playerList{
    width: 700px;
    height: 350px;
    border-radius: 20px;
    margin: 10px;
    background: rgba(0,0,0,0.8);
    padding: 15px;
    overflow: auto;
}

.player{
    margin: 5px;
    background: #262222a8;
    padding: 5px;
    border-radius: 5px;
    height:40px;
}

.kick{
    float:right
}

span{
    margin-left: 5px
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(252, 240, 73); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.8); 
    height: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(252, 240, 73); 
  }